{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Manager page{% else %}{{ _('Sensor Manager') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sensor Manager</a>
    </div>
    <ul class="nav navbar-nav">
		<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('sensor_info') }}">Sensor Info</a></li>
		<li><a href="{{ url_for('sensor_timeline') }}">Sensor Timeline</a></li>
      	<li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block scripts %}
{{super()}}

<script>
	function executeQuery() {
		$.getJSON({
			url: "{{url_for('sensor_update')}}",
			dataType: "json",
			success: function(data) {

				//loop table and insert element
				var table = $("#sensors_table");
				$.each(data, function(key, sensor){
					var found = false;
					table.find('tr').each(function (key, val) {
							if ($(this).find("#node_id").text() == sensor["node_id"]){
								$.each(sensor, function(key, value){
									$(this).find(key).replaceWith(value);
								})
								found = true;
								console.log("[DEBUG]Insert to " + $(this).find("#node_id").text());
							}
					})

					if (found == false){
						var row = $('<tr>')
						$.each(sensor, function(key, value){
							row.append($('<td id=' + key + '>' + value + '</td>'));
						})
						console.log("Append new row");
						table.append(row);	
					}
				})
			}
		});
		if ($(location).attr('pathname') == "{{ url_for('sensor_info') }}"){
			setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
		}
	}

	$(document).ready(function() {
		// run the first time; all subsequent calls will take care of themselves
		setTimeout(executeQuery, 5000);
	});
</script>
{% endblock %} 
