{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Manager page{% else %}{{ _('Sensor Manager') }}{% endif %}
{% endblock %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar"> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
	<div class="collapse navbar-collapse navbar-left" id="myNavbar">
    <ul class="nav navbar-nav">
		<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('sensor_info') }}">Sensor Info</a></li>
		<li><a href="{{ url_for('sensor_timeline') }}">Sensor Timeline</a></li>
      	<li><a href="{{ url_for('sensor_control') }}">Network control</a></li>
    </ul>
	</div>
  </div>
</nav>
{% endblock %}


