{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Manager page{% else %}{{ _('Sensor Manager') }}{% endif %}
{% endblock %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar"> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
	<div class="collapse navbar-collapse navbar-left" id="myNavbar">
    <ul class="nav navbar-nav">
		<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('sensor_info') }}">Sensor Info</a></li>
		<li><a href="{{ url_for('sensor_timeline') }}">Sensor Timeline</a></li>
      	<li><a href="#">Network control</a></li>
    </ul>
	</div>
  </div>
</nav>
{% endblock %}

{% block scripts %}
{{super()}}

<script>
	function executeQuery() {
		$.getJSON({
			url: "{{url_for('sensor_update')}}",
			dataType: "json",
			success: function(data) {

				//loop table and insert element
				var table = $("#sensors_table");
				$.each(data, function(key, sensor){
					var found = false;
					table.find('tr').each(function (key, val) {
							if ($(this).find("#node_id").text() == sensor["node_id"]){
								var row = $(this);
								$.each(sensor, function(key, value){
									row.find("td#" + key).html(Math.round(value * 1000) / 1000);
								})
								found = true;
							}
					})

					if (found == false){
						var row = $('<tr>')
						$.each(sensor, function(key, value){
							row.append($('<td id=' + key + '>' + value + '</td>'));
						})
						console.log("Append new row");
						table.append(row);	
					}
				})
			}
		});
		if ($(location).attr('pathname') == "{{ url_for('sensor_info') }}"){
			setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
		}
	}

	$(document).ready(function() {
		// run the first time; all subsequent calls will take care of themselves
		setTimeout(executeQuery, 5000);
	});
</script>
{% endblock %} 
