{% extends "base.htm" %}
{% block title %}RASPBERRY PI GATEWAY{% endblock %}
{% block content %}
<div class="container">
	<h2>RASPBERRY PI GATEWAY</h2>
	<table id=table_info style="width:100%" class="table-responsive">
		<tr>
			<td>
				<img src="{{ url_for('static', filename='images/pi2.jpg') }}" alt="RaspberryPi image" width="300" height="300">
			</td>
			<td>
				<table id=network_info class="table table-striped">
					<tr><span style="font-weight:bold">NETWORK SETTING</span></tr>
					<tr><td>IP Address</td><td>{{network.address}}</td></tr>
					<tr><td>Netmask</td><td>{{network.netmask}}</td></tr>
					<tr><td>Broadcast</td><td>{{network.broadcast}}</td></tr>
					<tr><td>MAC Address</td><td>{{network.mac}}</td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table id=system_info class="table" border="0">
					<tr><span style="font-weight:bold">SYSTEM INFO</span></tr>
					<tr><td>CPU usage</td><td>{{system.cpu}}</td></tr>
					<tr><td>Memory usage</td><td>{{system.memory}}</td></tr>
					<tr><td>Disk usage</td><td>{{system.disk}}</td></tr>
					<tr><td>System uptime</td><td>{{system.uptime}}</td></tr>
				</table>
			</td>
			<td valign="top">
				<table id=processes class="table table-striped">
					<tr><span style="font-weight:bold">PROCESSES</span></tr>
					<tr><td>pid</td><td>name</td><td>num_threads</td><td>cpu percent</td><td>status</td></tr>
					{% for process in processes %}
					<tr><td>{{ process.pid }}</td><td>{{ process.name }}</td><td>{{ process.num_threads }}</td><td>{{ process.cpu_percent }}</td><td>{{ process.status }}</td></tr>
					{% endfor %}
				</table>
			</td>

		</tr>
	</table>
</div>
{% endblock %}
