{% extends "base.htm" %}
{% block title %}This is an sensor data page{% endblock %}

{% block content %}

	<div class="container">
		<h2>Network realtime monitor</h2>
		<button type="button" class="btn btn-primary active" id="start">Start collect</button>
		<button type="button" class="btn btn-primary" disabled id="stop">Stop collect</button>
		<button type="button" class="btn btn-danger" id="blink">Blink LED</button>
	</div>
 	<table id="sensors_table" style="width:100%" class="table table-responsive">
  <tr>
		<td>Timestamp</td>
    <td>Sensor ID</td>
    <td>Battery</td> 
    <td>Light sensor 1</td>
    <td>Light sensor 2</td>
    <td>Temperature</td>
    <td>Humidity</td>
    <td>RSSI</td>
  </tr>
	
	{% for sensor in sensors %}
	<tr>
			<td id="timestamp">{{ sensor.timestamp }}</td>
			<td id="node_id">{{ sensor.node_id }}</td>
			<td id="battery_voltage">{{ sensor.battery_voltage }}</td>
			<td id="light1">{{ sensor.light1 }}</td>
			<td id="light2">{{ sensor.light2 }}</td>
			<td id="temperature">{{ sensor.temperature }}</td>
			<td id="humidity">{{ sensor.humidity }}</td>
			<td id="rssi">{{ sensor.rssi }}</td>
	</tr>
  {% endfor %}
  </table> 

{% endblock %}


{% block scripts %}
{{super()}}

<script>
	$(".btn-primary").click(function(){
		$.getJSON({
			url: "/api/control/network/" + $(this).attr("id"),
			dataType: "json",
			success: function(data){
				console.log(data);
			}
		});
		
		$(".btn.btn-primary").each(function() {
			if ($(this).prop("disabled") == true){
				$(this).attr("disabled", false);
			}
		})
		$(this).attr("disabled", true);
	});

	$(".btn-danger").click(function(){
		$.getJSON({
			url: "/api/control/network/" + $(this).attr("id"),
			dataType: "json",
			success: function(data){
				console.log(data);
			}
		});
	});
	function executeQuery() {
		$.getJSON({
			url: "{{url_for('sensor_update')}}",
			dataType: "json",
			success: function(data) {

				//loop table and insert element
				var table = $("#sensors_table");
				$.each(data, function(key, sensor){
					var found = false;
					table.find('tr').each(function (key, val) {
							if ($(this).find("#node_id").text() == sensor["node_id"]){
								var row = $(this);
								$.each(sensor, function(key, value){
									if (key == "timestamp"){
										var date = new Date(value)
										var dateString = date.toString().substring(0, 25);
										if (row.find("#timestamp").text() != dateString){
											console.log("toggle background" + row.find("#node_id").text());
											toggleRow();
											setTimeout(toggleRow,100);     
											function toggleRow(){
														row.toggleClass("bgcolorpink");
											}
										}
										row.find("td#" + key).html(dateString);
									}
									else
										row.find("td#" + key).html(Math.round(value * 1000) / 1000);
								})
								found = true;

							}
					})

					if (found == false){
						var row = $('<tr>')
						row.append($('<td id=' + 'timestamp' + '>' + sensor['timestamp'] + '</td>'));
						row.append($('<td id=' + 'node_id' + '>' + sensor['node_id'] + '</td>'));
						row.append($('<td id=' + 'battery_voltage' + '>' + sensor['battery_voltage'] + '</td>'));
						row.append($('<td id=' + 'light1' + '>' + sensor['light1'] + '</td>'));
						row.append($('<td id=' + 'light2' + '>' + sensor['light2'] + '</td>'));
						row.append($('<td id=' + 'temperature' + '>' + sensor['temperature'] + '</td>'));
						row.append($('<td id=' + 'humidity' + '>' + sensor['humidity'] + '</td>'));
						row.append($('<td id=' + 'rssi' + '>' + sensor['rssi'] + '</td>'));
						console.log("Append new row");
						table.append(row);	
					}
				})
			}
		});
		if ($(location).attr('pathname') == "{{ url_for('sensor_info') }}"){
			setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
		}
	}

	$(document).ready(function() {
		// run the first time; all subsequent calls will take care of themselves
		setTimeout(executeQuery, 5000);
	});
</script>
{% endblock %} 
