{% extends "base.htm" %}
{% block title %}This is an sensor data page{% endblock %}

{% block content %}

	<div class="container">
		<h2>Collect Control</h2>
		<button type="button" class="btn btn-primary active">Start collect</button>
		<button type="button" class="btn btn-primary" disabled>Stop collect</button>
	</div>
 	<table id="sensors_table" style="width:100%" class="table table-striped">
  <tr>
    <td>Sensor ID</td>
    <td>Battery</td> 
    <td>Light sensor 1</td>
    <td>Light sensor 2</td>
    <td>Temperature</td>
    <td>Humidity</td>
    <td>RSSI</td>
  </tr>
	
	{% for sensor in sensors %}
	<tr>
			<td id="node_id">{{ sensor.node_id }}</td>
			<td id="battery_voltage">{{ sensor.battery_voltage }}</td>
			<td id="light1">{{ sensor.light1 }}</td>
			<td id="light2">{{ sensor.light2 }}</td>
			<td id="temperature">{{ sensor.temperature }}</td>
			<td id="humidity">{{ sensor.humidity }}</td>
			<td id="rssi">{{ sensor.rssi }}</td>
	</tr>
  {% endfor %}
  </table> 

{% endblock %}

